* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background-color: #1a1a40;
}

/* Header encabezado */

header {
    width: 100%;
    height: 600px;
    background: #1a1a40;
    background: src("../src/img01.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}