
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: rgba(0, 0, 0, 0.984);
    /* font-family: Manrope, sans-serif;
    line-height: 1.6; */
}

/*
.s-center {
    text-align: center;
} 

@media screen and (min-width: 1024px) {
    .s-center {
    text-align: left;
} esto debia estar en el estile del proyecto del contador pero como son varios xd...
}
*/

/* Header encabezado */

header {
    width: 100%;
    height: 600px;
    background: #3d4152;
    background: -webkit-linear-gradient(to right, hsla(241, 95%, 50%, 0.459), hsla(133, 45%, 52%, 0.664)), url(../src/img01.jpg) no-repeat center;
    background: linear-gradient(to right, hsla(56, 95%, 50%, 0.459), hsla(184, 45%, 52%, 0.664)), url(../src/img01.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#navbar {
    top: 0;
    text-align: right;
    padding: 20px 40px;
    position: sticky;
}

#navbar a {
    display: flex;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    text-decoration-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    background: #000;
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 10px;
}


.menu .logo {
    display: flex;
    width: 30%;
    padding: 0 20px;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;/*flex-end*/
    width: 70%;
    list-style: none; 
    align-items: center;
    padding: 0 2.5px;
}

.menu ul li {
    z-index: 1;
}

.menu li {
    width: 70px;
    height: 70px;
}

.menu li a {
    width: 70px;
    height: 70px;
}

.menu a:hover {
    text-decoration: underline;
}

.menu ul li a .icon {
    top: 12px;
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 50px;
}

.menu ul li.active a .icon {
    top: 7px;
    font-size: 30px;
    transform: translateY(-6px);
}

.menu ul li a .texto {
    zoom: 0.8;
    position: absolute;
    bottom: 60px;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

.menu ul li.active a .texto {
    zoom: 0.7;
    transform: scale(1);
}

.menu ul li:nth-child(1).active 
{
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.menu ul li:nth-child(2).active1 
{
    width: 70px;
    height: 70px;
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    border-radius: 50px;
}

.menu ul li:nth-child(3).active2 
{
    width: 70px;
    height: 70px;
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    border-radius: 50px;
}
.menu ul li:nth-child(4).active3 
{
    width: 70px;
    height: 70px;
    background: #0fbcf9;
    box-shadow: 0 15px 25px #0fbcf999;
    border-radius: 50px;
}

.txt {
    background: #fff;
    display: flex;
    height: 300px;
    position: relative;
    flex-direction: column;
    opacity: 0.4;
    justify-content: center;
    border-radius: 30px;
    padding: 4px;
    margin: 0px 40px 0 40px;
}

.txt h1{
    position: relative;
    align-content: center;
    mix-blend-mode: multiply;
    text-align: center;
    font-size: 4em;
}

.txt p{
    position: relative;
    mix-blend-mode: multiply;
    text-align: center;
    font-size: 2em;
}

/* segunda navigation */

.navigation {
    
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    background: #fff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.open {
    width: 250px;
}

.navigation .menutoggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 23px;
}

.navigation .menutoggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.open .menutoggle::before {
    transform: translateY(0px) rotate(45deg);
}

.navigation .menutoggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
}

.navigation.open .menutoggle::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.navigation ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}

.navigation ul li.active {
    transform: translateX(30px);
}

.navigation.open ul li.active {
    transform: translateX(10px);
}

.navigation ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 1.75em;
    color: #222;
}

.navigation ul li.active a .icon {
    color: #fff;
    background: var(--clr);
}

.navigation ul li a .icon::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.navigation ul li.active a .icon::before {
    opacity: 0.5;

}

.navigation ul li a .text {
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navigation.open ul li a .text {
    opacity: 1;
    visibility: visible;
}

.navigation ul li.active a .text {
    color: var(--clr);
}

/* coutdown style flex */

.flex {
    display: flex;
}

/* Footer */

footer {
    width: 100%;
    background: #000;
    margin: auto;
}

.titulo-final {
    color: #fff;
    overflow: hidden;
}

@media screen and (max-width:900px){
    header {
        background-position: center;
    }

    .menu .logo{
        align-items: center;
    }

    .menu ul {
        padding: 1px;
        width: 35px;
    }
    .txt{
        margin: 20px;
    }

}

@media screen and (max-width:800px){
    header {
        background-position: center;
    }

    #navbar {
        padding: 20px 20px;
    }

    .menu .logo{
        justify-content: space-around;
        display: flex;
        position: relative;
        align-items: center;
    }

    .menu ul {
        width: 60%;
    }

    .txt{
        margin: 20px;
    }
}

@media screen and (max-width:500px){
    header {
        background-position: center;
    }

    #navbar {
        padding: 20px 20px;
        width: 100%;
    }

    .menu .logo{
        display: none;
    }

    .menu ul {
        padding: 1px;
        height: 70px;
    }
    
    .txt{
        padding: 20px;
        margin: 20px;
    } 
}

@media screen and (max-width:400px) and (min-width:100px) {
    header {
        background-position: center;
    }

    #navbar {
        display: none;
    }
    
    .txt{
        padding: 10px;
        margin: 10px;
    } 
}
